*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #212529;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    list-style: none;
}

.header,
.main,
section,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 105% 105%;
    color: #fff;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
}

.inner {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__form {
    width: 320px;
    margin-top: 70px;
    text-align: center;
}

.main__title {
    font-size: 24px;
    font-weight: 900;
}

.main__form input {
    width: 320px;
    height: 45px;
    margin-bottom: 20px;
    padding-left: 12px;
    background-color: #2B2B2B;
    color: #fff;
    outline: none;
    border-width: 0;
    border-radius: 8px;
}

.main__form input::placeholder {
    color: #585858;
}

.main__form-recovery {
    width: 100%;
    text-align: right;
}