*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #212529;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    list-style: none;
}

.header,
.main,
section,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 105% 105%;
    color: #fff;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
}

.inner {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__form {
    width: 482px;
    margin-top: 70px;
    text-align: center;
}

