*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #212529;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    list-style: none;
}

.header,
.main,
section,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 105% 105%;
    color: #fff;
    font-family: "Inter", sans-serif;
}

.main-container {
    max-width: 1280px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
}

.inner {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__form {
    width: 320px;
    margin-top: 70px;
    text-align: center;
}

.main__title {
    font-size: 24px;
    font-weight: 900;
}

.main__form li {
    margin-bottom: 20px;
}

.main__form input {
    width: 320px;
    height: 45px;
    padding-left: 12px;
    background-color: #2B2B2B;
    color: #fff;
    outline: none;
    border-width: 0;
    border-radius: 8px;
}

.main__form input::placeholder {
    color: #585858;
}

.main__form-recovery {
    width: 100%;
    text-align: right;
    font-size: 12px;
    color: #5F5F5F;
}

.main__form-recovery:hover {
    color: #fff;
}

.main__form-btn {
    width: 320px;
    height: 45px;
    background-color: #fff;
    border-width: 0;
    border-color: #000;
    border-radius: 8px;
    cursor: pointer;
}

.main__form-btn:hover {
    background-color: #585858;
    color: #fff;
}

.main__sign {
    width: 320px;
    font-size: 20px;
    color: #C9C9C9;
}

.main__sign-pass,
.main__sign-driver {
    text-align: right;
    margin-bottom: 20px;

}

/* registration */

.reg__container {
    margin: 0;
    width: 100%;
}

.reg__container .inner {
    padding: 0;
}

.reg__content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 100px;
    background-color: #74651f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sidebar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar img {
    width: 70px;
    margin-bottom: 35px;
}

.phone-img {
    width: 65px !important;
}

.logo {
    margin-top: 35px;
}

.reg__title {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.reg__main {
    width: 35%;
    background-color: #191d1f;
}

.reg__form {
    width: 100%;
    margin-top: 55px;
    text-align: center;
}

.reg__form-title {
    font-size: 24px;
    font-weight: 800;
    color: #fff;
}

.reg__image {
    flex-grow: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.reg__form li {
    margin-bottom: 20px;
}

.reg__form input {
    width: 320px;
    height: 45px;
    padding-left: 12px;
    background-color: #2B2B2B;
    color: #fff;
    outline: none;
    border-width: 0;
    border-radius: 8px;
}

.reg__form input::placeholder {
    color: #585858;
}

.reg__form-recovery {
    width: 100%;
    text-align: right;
    font-size: 12px;
    color: #5F5F5F;
}

.main__form-recovery:hover {
    color: #fff;
}

.reg__form-btn {
    width: 320px;
    height: 45px;
    background-color: #fff;
    border-width: 0;
    border-color: #000;
    border-radius: 8px;
    cursor: pointer;
}

.reg__form-btn:hover {
    background-color: #585858;
    color: #fff;
}

.content {
    min-height: 100vh;
    display: flex;
}

.profile__main {
    width: 100%;
    background-color: #191d1f;
    display: flex;
    justify-content: center;
}

.profile__form-container {
    margin-top: 60px;
}

.profile__title {
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

.profile__info {
    margin-top: 25px;
}

.profile__info li {
    margin-bottom: 20px;
}

.profile__info input {
    width: 320px;
    height: 45px;
    padding-left: 12px;
    background-color: #2B2B2B;
    color: #fff;
    outline: none;
    border-width: 0;
    border-radius: 8px;
}

.profile__info input::placeholder {
    color: #585858;
}

.profile__info-btn {
    width: 320px;
    height: 45px;
    background-color: #fff;
    border-width: 0;
    border-color: #000;
    border-radius: 8px;
    cursor: pointer;
}

.profile__info-btn:hover {
    background-color: #585858;
    color: #fff;
}